h1 {
    color: brown;
}

h2 {
    color: aquamarine;
}

h3 {
    color: darkgoldenrod;
}

/* univisited link */
a:link {
    color: turquoise;
}

/*visited link */
a:visited {
    color: blueviolet;
}

/*mousse over element */
div:hover {
    color: darkmagenta;
}

/* selected link */
a:active {
    color: black;
}

.box {
    color: brown;
    width: 200px;
    height: 150px;
    background-color: lightblue;
    border: 2px solid black;
    padding: 15px;
}